{% extends 'layout.html' %}

{% block content %}
    <main role="main" class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Boilerplate Fun</h1>
            <p class="lead">Pin a footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
            <p>Use <a href="/docs/4.3/examples/sticky-footer-navbar/">the sticky footer with a fixed navbar</a> if need be, too.</p>
            <p>You are @{{login}} on GitHub! There are currently {{total_users}} users registered.</p>
        </div>
    </main>
{% endblock %}