{% extends 'layout.html' %}

{% block headers %}
<link href="{{ url_for('static', filename='bootstrap-social.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <a class="btn btn-block btn-social btn-github" href="{{url_for('github.login')}}"><span class="fab fa-github"></span>Sign in with GitHub</a>
    <a class="btn btn-block btn-social btn-google" href="{{url_for('google.login')}}"><span class="fab fa-google"></span>Sign in with Google</a>
    <a class="btn btn-block btn-social btn-facebook" href="{{url_for('facebook.login')}}"><span class="fab fa-facebook"></span>Sign in with Facebook</a>
{% endblock %}